<div style="display: flex; justify-content: flex-end;">
    <a href="/api/session/logout"><button>Salir</button></a>
</div>
<div class="card">
    <div class="card">
        <h3>
            Cart:
        </h3>
        <p><b>{{this.idCart}}</b></p>
    </div>
    <div class="card">
        {{#each products}}
            <div class="card">
                <p><b>Product: </b>{{this.product.title}}</p>
                <p><b>Description: </b>{{this.product.description}}</p>
                <p><b>Price: </b>${{this.product.price}}</p>
                <p><b>Quantity: </b>{{this.quantity}}</p>
                <button class="button" onclick="removeFromCart('{{../idCart}}','{{this.product._id}}')">
                    Remove from cart
                </button>
            </div>  
        {{/each}}
    </div>
    <div>
        <h3>
            Total of Cart:
        </h3>

        <p><b>Subtotal: </b>${{this.subTotalCart}}</p>
        <p><b>Shipping: </b>${{this.shipping}}</p>
        <p><b>Total: </b>${{this.totalCart}}</p>
        <a href="/carts/{{this.idCart}}/pre-ticket"><button class="button">Confirm purchase</button></a>
        <a href="/products"><button class="button">Return to continue buying</button></a>
    </div>
</div>
<script src="/js/carts.js" onload="checkScriptLoad()"></script>
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>