<div style="display: flex; justify-content: flex-end;">
    <a href="/api/session/logout"><button>Salir</button></a>
</div>
<div class="card">
    <div class="card">
        <h2>
            Your pre-ticket
        </h2>
        <h3>
            Please confirm your purchase:
        </h3>
        <p><b>{{this.cartId}}</b></p>
    </div>
    <div class="card">
        {{#each products}}
            <div class="card">
                <p><b>Product: </b>{{this.product.title}}</p>
                <p><b>Description: </b>{{this.product.description}}</p>
                <p><b>Price: </b>{{this.product.price}}</p>
                <p><b>Quantity: </b>{{this.quantity}}</p>
            </div>  
        {{/each}}
    </div>
    <div>
        <h3>
            Total of Cart:
        </h3>

        <p><b>Subtotal: </b>${{this.subTotalCart}}</p>
        <p><b>Shipping: </b>${{this.shipping}}</p>
        <p><b>Total: </b>${{this.totalCart}}</p>
        <button class="button" onclick="purchaseCart('{{this.cartId}}')">
            Purchase
        </button>
        <a href="/products"><button class="button">Add more products</button></a>
    </div>
</div>
<script src="/js/cartConfirmation.js" onload="checkScriptLoad()"></script>
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>